SECRET_KEY='your-secret-key-here'
DEBUG=False

DB_ENGINE=django.contrib.gis.db.backends.postgis
POSTGRES_DB=db_maps
POSTGRES_USER=maps_user
POSTGRES_PASSWORD=your-db-password-here
DB_HOST=db
DB_PORT=5432
DB_PORT_EXTERNAL=5444

REDIS_URL=redis://redis:6379/0

SERVER_IP=127.0.0.1
DOMAIN_NAME=localhost

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=your-admin-password-here
